@model ProjectName.Models.Item

<div class="container">
<h2>Edit</h2>

<h4>Edit this Item: @Html.DisplayFor(model => model.Name)</h4>
    <div id="table">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ItemId)

            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)<br>

            <input type="submit" value="Save" class="btn btn-success" />
        }
    </div>
<p>@Html.ActionLink("Back to list", "Index")</p>
</div>